@font-face {
    font-family: 'hk4e_zh-cn';
    src: url('hk4e_zh-cn.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYWH85W';
    src: url('HYWenHei-85W.ttf');
    font-weight: normal;
    font-style: normal;
}